#top{font: weight 900px;
    font-weight: lighter;
    text-align: left;
    margin: 30px;
    background-color: brown;
    margin: 0px;
    box-sizing: border-box;
}

header{
margin: 0px;
    font-size: 30px;
    text-align: center;
    background-color: brown;
    display: block;
    color: azure;
    padding: 15px;

}

p{
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    float: left;
}